input.error {
    color: #B72222;
    background-color: yellow;
}

.wokoProperties th {
    text-align: right;
}

.wokoProperties td {
    border-bottom: 1px solid #d3d3d3;
}

.wokoButtonRow {
    text-align: right;
}

table.wokoFacets tr.odd {
    background-color: #efefef;
}

.poweredBy {
    padding-top: 256px;
    font-size: 0.8em;
}


ul.messages li, ul.errors li {
    list-style:none;
}

ul.messages {
  border: 1px solid #BBFFBB;
  background-color: #DDFFDD;
  color: green;
  padding: 4px;
  position: absolute;
  top: 24px;
}

.errorsContainer {
  border: 1px solid #b72222;
  background-color: #ffcccc;
  color: #b72222;
  padding: 4px;
  padding-left: 16px;
}

.errorsContainer span {
    font-weight: bold;
}

.errorsContainer li {
    color: #b72222;
}

