@charset "utf-8";
/* CSS Document */

body {
	background: #F3F4F6 url(bg.png) repeat-x;
	font: 100%/150% Geneva, Arial, Helvetica, sans-serif;
	color: #222;
	margin: 0;
}

a, a:visited {
	color: #0099CC;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}


h1 {
	font-size: 24px;
	color:#3399CC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: lighter;
	border-bottom: dotted 1px #666;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

#wokoSearchBox {
    position: absolute;
    top: 18px;
    right: 10px;
}
	


#wrap {
	width: 1000px;
	margin: 0 auto;
}

/* Header */

#header-space {
	height: 88px;
}


#logo {
    position: absolute;
    top: 8px;
	left: 10px;
}

#tagline {
    position: absolute;
    top: 56px;
	left: 10px;
	font-size: 12px;
}

/* Navigation Bar */

#navbar {
	height: 30px;
	background: none;
	position: relative;
}

#nbar a {
	font-weight: normal;
}

#nbar {
	position: relative;
	width: auto;
	height: 30px;
	margin: 0;
	padding : 2px 0 0 0;
	font: 12px/25px Verdana, Arial, Tahoma, Sans-serif;
}

#nbar ul {
	float: left;
	list-style : none;
	margin: 0;
	padding: 0;
}

#nbar ul li {
	display: inline;
}

#nbar ul li a {
	display: block;
	height: 25px;
	float: left;
	padding: 0 10px;
	color: #ccc;
	text-decoration: none;
	background: none;
	border-left: dotted 1px #666;
}

/*
#nbar ul li a:hover {
	color: #fff;
	background: url(nbg-inv.png) top repeat-x;	
}
*/

/*
#nbar ul li#selected a {
	color: #3399FF;
	background: url(nbg-inv.png) top repeat-x;
	font-weight: bold;
}
*/

/* Content */

#content-wrap {
	padding: 10px 5px 0 5px;
}

#content {
	font-size: 14px;
}

.post-footer {
	background: url(post-footer.png) no-repeat;
	height: 32px;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px 0 10px;
	text-align: right;
	color: #fff;
	margin-bottom: 30px;
}

/* Forms and Text Fields */

form {
	margin : 10px;
	padding : 0 5px;
}

label {
	display : block;
	font-weight : bold;
	margin : 5px 0;
	color: #333333;
}

input {
	padding : 2px;
	border : 1px solid #D7D7D7;
	font : normal 1em Verdana, sans-serif;
	color : #000000;
	background: #F9F9F9;
}

textarea {
	width : 400px;
	padding : 2px;
	font-family : Verdana, sans-serif;
	border : 1px solid #D7D7D7;
	height : 100px;
	display : block;
	background:#F9F9F9;
	color : #000;
}

input.button {
	margin : 0;
	font : bolder 12px Arial, Sans-serif;
	border : 2px solid #ccc;
	padding : 2px 3px;
	background : #fff;
	color : #131212;
}

/* Addition Stuffs */

blockquote {
	background: #F8F8F8;
	border: dotted 1px #D7D7D7;
	padding: 5px 5px 5px 25px;
}

code {
	margin : 4px 8px;
	padding : 10px;
	text-align : left;
	display : block;
	overflow : auto;
	font : 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
	background: #F8F8F8;
	border : 1px dashed #D7C3C3;
}

ul, ol {
	margin: 5px 20px;
	padding: 0 20px;
	color: #333333;
}

ul span, ol span {
	color: #333333;
}

#divider-line {
	height: 16px;
}

/* Images */

img {
	border: none;
	background: none;
}

img.float-right {
	margin : 5px 0 10px 10px;
	padding: 2px;
}

img.float-left {
	margin : 5px 10px 10px 0;
	padding: 2px;
}

.clearfix {
	clear:both;
	overflow: hidden;
}