#right-nav {
	margin-top: 24px;
}

#right-nav .nav ul {
	list-style: none;
}

#right-nav .nav li a {
	border-left: 2px solid white;			
}

#right-nav .nav li > a {
	padding-top: 8px;
	padding-bottom: 4px;
}

#right-nav .nav li li a {
	font-size: 0.9em;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 4px;
}

#right-nav .nav li ul {
	padding-left: 20px;
}

#right-nav .nav li.active > a {
	border-left: 2px solid black;		
}

#right-nav .nav > li .nav.subsections {
	display: none;
}

#right-nav .nav > li.active .nav.subsections {
	display: block;
}

#woko3d {
	padding-top: 20px;
}

#top-nav {
	margin-top: 20px;
}

.dropdown.links {
	
}

header.page-header {
	font-size: 48px;
	margin-top: 10px;
}

footer {
	color: lightgrey;
	margin-top: 30px;
	margin-top: 70px;
	border-top: 1px solid;
	height: 80px;
	font-size: 0.9em;
}

footer a {
	color: lightgrey;
}

footer a:selected {
	color: lightgrey;
}

footer .copyright {
	margin-top: 12px;	
}

footer img {
	margin-top: 6px;
}