#wrapper {
    min-height: 100%;
    height: auto !important;
    width:auto;
    margin: 0 auto -4em;
    padding: 0;
}

#push, footer {
    height: 4em;
}

#wrapper>.main-content {
    padding-top: 60px;
}

.wokoLinks {
    position: relative;
    top: -70px;
}

.wokoProperties .propertyName {
    text-align: right;
}

.propertyName label {
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.7em;
    font-family: sans-serif;
}

html,body{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.l-box {
    padding: 1em;
}

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.content .content-subhead {

    font-weight: 300;
    color: #555;
    letter-spacing: normal;
}

.content p
{
    line-height: 1.6em;
    font-size: 1.125em;
    letter-spacing: normal;
}

.splash p
{
    color: #999;
}
.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}

.footer {
    background: #ECF0F1;
    color: #999;
    text-align: center;
    font-size: 80%;
    margin: 0 0;
    height: 100%;
}

.wokoproperties label
{
    text-align: right;
    margin: .5em 0 .2em;
    color: #999;
    font-size: 90%
}

h2, h3 {
    font-family: "proxima-nova",sans-serif;
}

h1
{
    font-family: "omnes-pro",sans-serif;
}

.menu-header
{
    color: #1f8dd6;
    font-family: "omnes-pro",sans-serif;
    font-weight: 600;
}

.content
{
    padding: 5%;
}

.woko.pure-menu .woko.pure-menu-heading
{
    color: white;
}


.woko.pure-menu.pure-menu-open
{
    background: #3498DB;
    color: white;
}

input,select,textarea
{
    background: transparent;
}
.woko.pure-menu li a {
    color:white;
}

.woko.pure-menu li a:hover, .woko.pure-menu li a:focus {
    background: #5dade2;
}

.woko.pure-menu input
{
    background:white;
    border: 1px solid white;
}
.woko.pure-menu.pure-menu-open.pure-menu-horizontal
{
    float:left;
    width: 100%;
}

.woko.menu.search.connect
{
    float:right;
    width: 50%;
    padding: 5px 20px;
}

.woko.menu.search.connect div
{
    display: inline;
    float:left;
    width:50%;
}

.woko.menu.search.connect div p, .woko.menu.search.connect div strong, .woko.menu.search.connect div a
{
    display: inline;
}

.woko.menu.search.connect div a
{
    color:#2C3E50;
}
